/** Colors */
$primary:               #ef8716; // ffe66d
$secondary:             #f4f4f4; // 2f3061

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

/** Variables redeclare */
$body-background:       #fff;
$font-family-base:      "Roboto";

/** Box Model  */
$spacer:                2rem;

/** Bootstrap fix for Webpack */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** overwriting specials */
$color-states: true;
