/** Colors */
$primary:               #f66663; // ffe66d
$secondary:             #ec6584; // 2f3061
$tertiary:              #747474; // 6ca6c1

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary
);

/** Variables redeclare */
$body-background:       #fff;
$font-family-base:      "Rubik";

/** Box Model  */
$spacer:                2rem;

/** Bootstrap fix for Webpack */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
